section {
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  max-width: 730px;
  margin: auto;
}
.btn-load-usr {
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 123, 75);
  border-radius: 3px;
  border: none;
  color: white;
}
.btn-load-usr:hover {
  background: rgb(252, 73, 8);
}
img {
  border-radius: 50%;
  border: 1px solid gray;
  padding: 5px;
}
p {
  color: gray;
}
span {
  font-weight: bold;
  color: rgb(53, 77, 6);
}

.card-none {
  display: none;
}

.card-display {
  display: block;
}
